li{
    width: 27.457rem;
    height: 5rem;
    text-align: center;
    & > h3 {
        color: #333333;
        font-weight: bold;
        size: 18px;
    } p{
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        color: #27AE60;
    } button{
        color: #BDBDBD;
        font-weight: 900;
        line-height: 20.7px;
    } img{
        height: 100%;
        width: 82.26px;
        border-radius: 5px;
        
    }
} 